Source:  glite-wms-helper
Section:  libs
Priority:  optional
Maintainer:  WMS group <wms-support@lists.infn.it>
Build-Depends: debhelper (>= 8.0.0~)
Standards-Version:  3.9.1
Homepage: http://glite.cern.ch/

Package: glite-wms-helper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Helper module for the Workload Management System
 Helper module for the Workload Management System

Package: glite-wms-helper-dev
Section: libdevel
Depends: glite-wms-helper (= ${binary:Version})
Description: Development files for the WMS helper module
 Development files for the WMS helper module

