##############################################################################
#
# NAME:        commands.cfg
#
# FACILITY:    SAM (Service Availability Monitoring)
#
# COPYRIGHT:
#         Copyright (c) 2009, Members of the EGEE Collaboration.
#         http://www.eu-egee.org/partners/
#         Licensed under the Apache License, Version 2.0.
#         http://www.apache.org/licenses/LICENSE-2.0
#         This software is provided "as is", without warranties
#         or conditions of any kind, either express or implied.
#
# DESCRIPTION:
#
#         Nagios command objects definitions for SAM checks on WN.
#
# AUTHORS:     Konstantin Skaburskas, CERN
#
# CREATED:     06-Jun-2009
#
# NOTES:
#
# MODIFIED:
#
##############################################################################

###################
# OCSP command
###################
define command {
        command_name handle_service_check
        command_line $USER31$/libexec/grid-monitoring/plugins/nagios/eventhandlers/handle_service_check --dir <MSG_OUTGOING>
}

#######################
# Notification commands
#######################
define command{
	command_name	host-notify-by-email
	command_line	/usr/bin/printf "%b" "Nagios host"
	}
define command{
	command_name	notify-by-email
	command_line	/usr/bin/printf "%b" "Nagios service"
	}
