##############################################################################
#
# NAME:        contacts.cfg
#
# FACILITY:    SAM (Service Availability Monitoring)
#
# COPYRIGHT:
#         Copyright (c) 2009, Members of the EGEE Collaboration.
#         http://www.eu-egee.org/partners/
#         Licensed under the Apache License, Version 2.0.
#         http://www.apache.org/licenses/LICENSE-2.0
#         This software is provided "as is", without warranties
#         or conditions of any kind, either express or implied.
#
# DESCRIPTION:
#
#         Nagios contact objects definitions for SAM checks on WN.
#
# AUTHORS:     Konstantin Skaburskas, CERN
#
# CREATED:     17-Jun-2009
#
# NOTES:
#
# MODIFIED:
#
##############################################################################

define contact{
	contact_name			admin
	alias				Administrator
	contactgroups			admins
	host_notifications_enabled	0
	service_notifications_enabled	0
	host_notification_period	24x7
	service_notification_period	24x7
	host_notification_options	n
	service_notification_options	n
	host_notification_commands	host-notify-by-email
	service_notification_commands	notify-by-email
	email				admin@any.tld
}

define contactgroup{
	contactgroup_name		admins
	alias				Administrators
}
