##############################################################################
#
# NAME:        commands.cfg
#
# FACILITY:    SAM (Service Availability Monitoring)
#
# COPYRIGHT:
#         Copyright (c) 2009, Members of the EGEE Collaboration.
#         http://www.eu-egee.org/partners/
#         Licensed under the Apache License, Version 2.0.
#         http://www.apache.org/licenses/LICENSE-2.0
#         This software is provided "as is", without warranties
#         or conditions of any kind, either express or implied.
#
# DESCRIPTION:
#
#         Nagios time-period objects definitions for SAM checks on WN.
#
# AUTHORS:     Konstantin Skaburskas, CERN
#
# CREATED:     17-Jun-2009
#
# NOTES:
#
# MODIFIED:
#
##############################################################################

define timeperiod{
        timeperiod_name                 24x7
        alias                           24 Hours A Day, 7 Days A Week
        sunday                          00:00-24:00
        monday                          00:00-24:00
        tuesday                         00:00-24:00
        wednesday                       00:00-24:00
        thursday                        00:00-24:00
        friday                          00:00-24:00
        saturday                        00:00-24:00
}
