Source:  glite-wms-common
Section:  libs
Priority:  optional
Maintainer:  WMS group <wms-support@lists.infn.it>
Build-Depends: debhelper (>= 8.0.0~)
Standards-Version:  3.9.1
Homepage: http://glite.cern.ch/

Package: glite-wms-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Common libraries for the Workload Management System
 Common libraries for the Workload Management System

Package: glite-wms-common-dev
Section: libdevel
Depends: glite-wms-common (= ${binary:Version})
Description: Development files for WMS common module
 Development files for WMS common module


