Source:  glite-wms-jobsubmission
Section:  net
Priority:  optional
Maintainer:  WMS group <wms-support@lists.infn.it>
Build-Depends: debhelper (>= 8.0.0~)
Standards-Version:  3.9.1
Homepage: http://glite.cern.ch/

Package: glite-wms-jobsubmission
Architecture: any
Depends: glite-wms-jobsubmission-lib (= ${binary:Version})
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Condor-G connector for the Workload Management System
 Condor-G connector for the Workload Management System

Package: glite-wms-jobsubmission-dev
Section: libs
Architecture: any
Description: Condor-G connector for the WMS (libraries)
 Condor-G connector for the WMS (libraries)

Package: glite-wms-jobsubmission-dev
Section: libdevel
Depends: glite-wms-jobsubmission-lib (= ${binary:Version})
Description: Condor-G connector for the WMS (Development files)
 Condor-G connector for the WMS (Development files)
