Source: glite-wms-ui-commands
Section:  net
Priority:  optional
Maintainer:  WMS group <wms-support@lists.infn.it>
Build-Depends: debhelper (>= 8.0.0~)
Standards-Version:  3.9.1
Homepage: http://glite.cern.ch/

Package: glite-wms-ui-commands
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command line user interface for the WMS
 Command line user interface for the WMS


